{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Type List</h1>
  {% if type_list %}
  <ul>
    {% for type in type_list %}
      <li>
          {{ type.name }}
         (<a href="{% url 'boats:type_update' type.id %}">Update</a> |
          <a href="{% url 'boats:type_delete' type.id %}">Delete</a>)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no types in the library.</p>
  {% endif %}
  <p><a href="{% url 'boats:type_create' %}">Add a type</a></p>
  <p>
    <a href="{% url 'boats:all' %}">Back to boats</a>
  </p>
{% endblock %}
